In [3]:
# Print all the variables, not only the last one
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
import numpy as np
import pandas as pd

# Python基础语法

### 变量输入、赋值与打印

In [4]:
pm=input("输入一个变量pm：")

counter = 100 # 赋值整型变量
miles = 1000.0 # 浮点型
name = "John" # 字符串
print(counter,miles,name)

a = b = c = 1  # 创建一个整型对象，值为1，三个变量被分配到相同的内存空间上
print(id(a), id(b), id(c))

a, b, c = 1, 2, "john"  # 两个整型对象1和2的分配给变量a和b，字符串对象"john"分配给变量c

输入一个变量pm：9
100 1000.0 John
4422923680 4422923680 4422923680

In [5]:
a=True
b=False
print(not a)
print(not (a and b))
print(not (a or b))

False
True
False

In [6]:
#变量赋值输出
s = "some numbers:"
x = 1.34
y = 2
# 用百分号隔开，括号括起来
t = "%s %f, %d" % (s, x, y)
t

'some numbers: 1.340000, 2'

In [7]:
# range的使用   lower : upper : step

list(range(15,40,5))

[15, 20, 25, 30, 35]

### 写入、运行外部文件

In [ ]:
%%writefile baisc.py
### Some Code here ###

# Those code will be saved as a .py file

In [ ]:
%run  basic.py

### 判断与循环结构

In [8]:
## 判断结构

PM = eval(input("请输入PM2.5数值: "))
if 0<= PM < 35:
    print("空气优质，快去户外运动!")
elif 35 <= PM <75:
    print("空气良好，适度户外活动！")
else:
    print("空气污染，请小心！")

请输入PM2.5数值: 88
空气污染，请小心！

In [19]:
## 循环结构

for s in "BIT":
    for i in range(10):
        print(s, end="") # end='' means end with Nan and no line break
        if s=="I":
            break
            
print('\n')

for s in "BIT":
    for i in range(10):
        print(s, end="")
        if s=="I":
            continue

BBBBBBBBBBITTTTTTTTTT

BBBBBBBBBBIIIIIIIIIITTTTTTTTTT

### 异常处理

In [28]:
try:
    alp = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    idx = eval(input("请输入一个整数: "))
    print(alp[idx])
except:
    print("输入错误，请输入一个整数!")
else:
    print("没有发生异常")
finally:
    print("程序执行完毕")

请输入一个整数: y
C
没有发生异常
程序执行完毕

### 查询

In [7]:
?print

In [9]:
help(eval)

Help on built-in function eval in module builtins:

eval(source, globals=None, locals=None, /)
    Evaluate the given source in the context of globals and locals.

    The source may be a string representing a Python expression
    or a code object as returned by compile().
    The globals must be a dictionary and locals can be any mapping,
    defaulting to the current globals and locals.
    If only globals is given, locals defaults to it.

### 字符串操作

5
3
4
5
6
7
[3, 4, 5, 6, 7]

### 分割与连接

In [ ]:
line = "1,2,3,4,5"
numbers = line.split(',')
print(numbers)

s = ','
s_new=s.join(numbers)
print(s_new)

print(s+' 注意！！！原s字符串没有被改变')

In [9]:
# 查找串中字符

line.find('2')
line.find(',')  # 只返回第一个的位置
line.find('0')  # 查不到则返回-1

1

2

-1

In [30]:
## 替换

s = "hello world"
s.replace('world', 'python')

'hello python'

In [31]:
## 去除s两端多余空格

s = "  hello world   "
s.strip()

'hello world'

In [1]:
## 索引与切片

s = "hello world"

print('1.   '+s[0])
print('2.   '+s[-2]) # 倒数第二个
print('3.   '+s[1:3])
print('4.   '+s[1:-2]) # 从第二到倒数第二
print('5.   '+s[::2]) # 从前到后，隔一个输出一个字符
print('6.   '+s[::-1]) # 从后到前，输出每一个字符

1.   h
2.   l
3.   el
4.   ello wor
5.   hlowrd
6.   dlrow olleh

# 列表、字典与集合

### 列表

In [33]:
## 提取列表元素

ls = [425, "BIT", [10, "CS"], 425]
ls
ls[2][-1][0]

[425, 'BIT', [10, 'CS'], 425]

'C'

In [34]:
## 判断元素从属

vlist = list(range(5)) 
vlist
2 in vlist

[0, 1, 2, 3, 4]

True

In [35]:
## 不改变列表的操作
# 计数
a = [11, 12, 13, 12, 11]
a.count(11)

# 索引
a.index(12)

2

1

In [36]:
## 改变列表的操作
# 添加元素
a = [10, 11, 12]
a.append(11)
a

# 添加序列
a.extend([1, 2])
a

# 插入元素
a.insert(3, 'a')
a

# 移除元素（只操作第一个满足条件的）
a.remove(11)
a

[10, 11, 12, 11]

[10, 11, 12, 11, 1, 2]

[10, 11, 12, 'a', 11, 1, 2]

[10, 12, 'a', 11, 1, 2]

In [37]:
## 排序
a = [10, 1, 11, 13, 11, 2]
a.sort()  # 默认升序
a

a.sort(reverse = True)  # 降序
a

## 或用内置函数 sorted
sorted(a)

[1, 2, 10, 11, 11, 13]

[13, 11, 11, 10, 2, 1]

[1, 2, 10, 11, 11, 13]

### 字典
{<键1>:<值1>, <键2>:<值2>, … , <键n>:<值n>}

In [38]:
Dcountry={"中国":"北京", "美国":"华盛顿", "法国":"巴黎"}

print(Dcountry)
print(Dcountry["中国"])

{'中国': '北京', '美国': '华盛顿', '法国': '巴黎'}
北京

In [39]:
Dcountry.keys()
Dcountry.values()
Dcountry.items()

dict_keys(['中国', '美国', '法国'])

dict_values(['北京', '华盛顿', '巴黎'])

dict_items([('中国', '北京'), ('美国', '华盛顿'), ('法国', '巴黎')])

In [40]:
## get
Dcountry.get("中国")

## update
Dcountry_modifications = {'美国': '纽约'}
Dcountry.update(Dcountry_modifications)
Dcountry

'北京'

{'中国': '北京', '美国': '纽约', '法国': '巴黎'}

### 集合

In [41]:
a = set([1, 2, 3, 1])
b = {3, 4, 5, 6}
a,b

({1, 2, 3}, {3, 4, 5, 6})

In [42]:
## 集合运算
b.union(a) #并

a.intersection(b) #交

a.difference(b) #差

b.issubset(a) #子集

a>=b #真子集

{1, 2, 3, 4, 5, 6}

{3}

{1, 2}

False

False

In [43]:
a.add(5)
a

a.remove(1)
a

{1, 2, 3, 5}

{2, 3, 5}

# 函数

### 基本函数结构

In [45]:
def test():
    w = [0,1,2,3]
    assert(sum(w) == 6)    ## assert: True的时候不响应，False的时候报警
    print('test passed.')
    
if __name__ == '__main__':
    test()

test passed.

### lambda函数
lambda语句中，冒号前是参数，可以有多个，用逗号隔开，冒号右边的返回值。lambda语句构建的其实是一个函数对象

In [46]:
g = lambda x : x**2

## 等同于：
def f(x):
    return x**2

g(2)
f(2)

4

4

### map函数
它接收一个函数aFun和多个参数序列seq1,seq2...并且把seq的元素以此传递给函数aFun，然后返回一个函数aFun处理完所有seq元素的列表,列表维度与seq相同。
其用法为：
map(aFun, aSeq)

In [47]:
## 例1
def add(x, y): 
    return x + y

a = (2,3,4)
b = [10,5,3]

result = map(add, a, b)
list(result)

[12, 8, 7]

In [48]:
## 例2
res = map(lambda x:x**2,[1,5,7,4,8])
list(res)

[1, 25, 49, 16, 64]

### reduce函数
第一次调用是把seq的前两个元素传递给aFun,第二次调用时，就是把前两个seq元素的计算结果当成第一个参数，seq的第三个元素当成第二个参数，传入aFun进行操作，以此类推，并最终返回结果；

In [49]:
from functools import reduce

def add(x,y):
    return x + y

print(reduce(add,  [1,2,3,4,5]))

15

### apply函数
对于数据表”按列“进行操作，每一列执行apply()中的函数

In [5]:
df=pd.read_csv('sample_data1.csv')
df

       Date         A         B         C  D    F    E
0  2013/1/1  0.000000  0.000000  0.525427  4  NaN  1.0
1  2013/1/2  0.725724 -0.339046       NaN  7  1.0  1.0
2  2013/1/3 -0.471947  0.282035 -1.292006  5  2.0  7.0
3  2013/1/4  2.825650       NaN  1.351099  9  3.0  NaN

In [7]:
df=pd.read_csv('sample_data1.csv').drop('Date',axis=1)
df.apply(np.cumsum)   ## np.cumsum按列累加

          A         B         C   D    F    E
0  0.000000  0.000000  0.525427   4  NaN  1.0
1  0.725724 -0.339046       NaN  11  1.0  2.0
2  0.253777 -0.057010 -0.766579  16  3.0  9.0
3  3.079426       NaN  0.584520  25  6.0  NaN

In [8]:
df.apply(lambda x:x.max()-x.min())

A    3.297597
B    0.621081
C    2.643105
D    5.000000
F    2.000000
E    6.000000
dtype: float64